<% provide(:title, 'Kontakt') %>

<h1>Kontakt</h1>
<div class="pomoc">
<p> Zapraszamy do kontaktowanie się z nami. Poniżej przedstawiamy adresy e-mail które usprawnią naszą komunikację.</p>
<p> Jeśli chcesz się o coś zapytać lub przekazać nam sugestię skontaktuj się z
<a href="#">Działem Obsługi Użytkownika</a> .
</p>
<p>Interesuje Cię <b>reklama</b> w serwisie utalentowani.pl? Napisz do nas: <a href="#">reklama@utalentowani.pl</a> lub sprawdź naszą ofertę <a href="#">tutaj</a>.</p>
</div>