<% provide(:title, 'Pomoc') %>
<h1>Pomoc</h1>
<center>
<p>
	Nie potrafisz poruszać się po serwisie? Nie wiesz jak założyć własne konto? Zapraszamy na <a href="#">Wirtualne oprowadzenie po serwisie Utalentowani.pl </a>
</p>
<p>	
	Najczęściej zadawane
	<a href="#"> pytania </a>
	przez użytkowników
</p>
</center>